@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    line-height: 1.6;
}

header {
    background-color: #004080; /* Dark Blue */
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    height: 100vh;
    width: 300px; /* Sidebar width */
    position: fixed;
    background-color: rgb(0, 35, 75);;;
    padding-top: 40px; /* Space above for centering */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .headshot {
    width: 150px; /* Adjust width if desired */
    height: 200px; /* Adjust height if desired */
    border-radius: 50%;
    margin: 0 auto 15px; /* Center the image */
}

body .sidebar h1 {
    text-align: center;
    font-size: 1.5em; /* Increase font size for visibility */
    font-weight: 200;
    margin: 10px 0; /* Add margin for spacing */
}

body .sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Take full width */
}

body .sidebar ul li {
    padding: 10px;
    text-align: center;
}

body .sidebar ul li a {
    color: #ddd;
    text-decoration: none;
}

body .sidebar ul li a:hover {
    color: #fff;
}

.main-content {
    margin-left: 370px; /* Adjusted to match sidebar width */
    padding: 20px;
    width: calc(100% - 370px); /* Ensure content fills remaining space */
}

section {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 900px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; /* Example size */
    font-weight: 200; /* Light weight */
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em; /* Example size */
    font-weight: 200; /* Light weight */
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em; /* Example size */
    font-weight: 200; /* Light weight */
}

/* Other styles remain unchanged */
